{% extends 'newsapp/base.html' %}

{% block content %}
<script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>

<!-- <select>
  <option value="google-news">google news</option>
  <option value="business-insider">business insider</option>
  <option value="the-hindu">the hindu</option>
  <option value="techcrunch">techcrunch</option>
</select> -->

<!-- <form action="#" method="get">
	Select News Source:<br>
	<input type="submit" class="btn" value="google news" name="google-news-btn">
	<input type="submit" class="btn" value="techcrunch" name="techcrunch-btn">
	<input type="submit" class="btn" value="the hindu" name="the-hindu-btn">
</form> -->
<!-- <span class="utc">Thursday, March 15 2018, 18:31:08 +0000 UTC</span> -->
<form action="#" method="get">
	Select News Category:<br><br>
 <!-- <input type="text" placeholder="#latestnews" name="hashtag" size="20"/>
 <br><br> -->
 <input type="submit" class="btn" value="Technology" name="techbtn">
 <input type="submit" class="btn" value="Medical" name="medicalbtn">
 <input type="submit" class="btn" value="Entertainment" name="enterbtn">
 <input type="submit" class="btn" value="Business" name="businessbtn">
</form>
<br>

<!--0  ('http://techcrunch.com/2018/03/22/alphabets-outline-lets-you-build-your-own-vpn/',
1 'Mar 22, 2018',
2  'TechCrunch',
3 'Alphabet’s cybersecurity division Jigsaw released an interesting new project called Outline. If I simplify things quite a lot, it lets anyone create and run a VPN server on DigitalOcean, and then grant your team access to this server. I played a bit with Outl…',
4  'techcrunch',
5	 '2018-03-22',
6	 'Alphabet’s Outline lets you build your own VPN') -->

{% for title, data in article_list.items %}
		<li>

			<a href = '{{ data.0 }}' target="_blank">{{title}}</a><br>
      {% if data.3 != '' %}
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.3}}<br>
      {% endif %}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ data.2 }}
			 {{data.1}}

		</li>

			{% empty %}
	    No relevant news, try another category
	{% endfor %}


{% endblock %}
