{% extends 'newsapp/base.html' %}
{% load staticfiles %}

{% block content %}
<script src="http://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>
<link href="http://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<style>
.date {
    font-weight: bold;
		color: #828282
}

.tab {
       display:inline-block;
       margin-left: 21px;
}
ul
{
  display:flex;
  list-style:none;
	padding-left: 21px
}
</style>

<!-- <span class="utc">Thursday, March 15 2018, 18:31:08 +0000 UTC</span> -->
<form action="#" method="get">
	<!-- Select News Category:<br><br> -->
 <!-- <input type="text" placeholder="#latestnews" name="hashtag" size="20"/>
 <br><br> -->
 <input type="submit" class="btn" value="Top Stories" name="topbtn">
 <input type="submit" class="btn" value="Technology" name="techbtn">
 <input type="submit" class="btn" value="Medical" name="medicalbtn">
 <input type="submit" class="btn" value="Entertainment" name="enterbtn">
 <input type="submit" class="btn" value="Business" name="businessbtn">
</form>
<br>

<!--0  ('http://techcrunch.com/2018/03/22/alphabets-outline-lets-you-build-your-own-vpn/',
1 'Mar 22, 2018',
2  'TechCrunch',
3 'Alphabet’s cybersecurity division Jigsaw released an interesting new project called Outline. If I simplify things quite a lot, it lets anyone create and run a VPN server on DigitalOcean, and then grant your team access to this server. I played a bit with Outl…',
4  'techcrunch',
5	 '2018-03-22',
6	 'Alphabet’s Outline lets you build your own VPN') -->

{% for title, data in article_list.items %}

    {% if title != '' %}
    <li>

			<a href = '{{ data.0 }}' target="_blank">{{title}}</a><br>

			{% if data.3 != '' %}
		  <span class = "tab">{{data.3}}</span><br>
      {% endif %}
			<ul>
			<li><strong>{{ data.2 }}</strong></li> &emsp;
			 <li>{{data.1}}</li>
	 </ul>

		</li>

    {% endif %}

			{% empty %}
	    No relevant news, try another category
	{% endfor %}


{% endblock %}
